.game-iframe {
	width: 100%;
	min-height: 100vh;
	border: 0;
}

.menu {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	gap: 0.5rem;
}

.mdc-button {
	width: fit-content;
	min-width: fit-content;
	height: 1.5rem;
	padding: 0.4rem;
	background: #05191a;
}

.mdc-button span {
	color: #ffffff;
}
