.game-iframe {
	width: 100%;
	min-height: 100vh;
	border: 0;
}

.menu {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	gap: 0.5rem;
}

.mdc-button {
	width: fit-content;
	min-width: fit-content;
	height: 1.5rem;
	padding: 0.4rem 0.7rem;
	background: #05191a;
}

.mdc-button span {
	color: #ffffff;
}

.neon {
	background-color: #050a16;
	border-radius: 0.4rem;
	box-shadow: 0 0 1px #00eaff, 0 0 1px #00eaff, 0 0 3px #00b3ff, 0 0 5px rgba(0, 179, 255, 0.8);
}
