.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
}

* {
	box-sizing: border-box;
}

.game-list {
	width: 100%;
	max-width: 63.5rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
	overflow: auto;
}

.game-item {
	height: 15rem;
	border-radius: 1rem;
}
