/* You can add global styles to this file, and also import other style files */
html {
	min-height: 100vh;
	overflow: hidden;
}

body {
	background: linear-gradient(180deg, #02040a, #050b18);
	min-height: 79vh;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
}

.center {
	justify-content: center;
}

.middle {
	align-items: center;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar {
	height: 0.563rem;
	width: 0.563rem;
}

::-webkit-scrollbar-thumb {
	background: #374a57;
	width: 0.563rem;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 0.563rem;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
