/* You can add global styles to this file, and also import other style files */
html {
	min-height: 100vh;
	overflow: hidden;
}

body {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
}

.center {
	justify-content: center;
}

.middle {
	align-items: center;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar {
	height: 0.563rem;
	width: 0.563rem;
}

::-webkit-scrollbar-thumb {
	background: #d3d3d3;
	width: 0.563rem;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 0.563rem;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
