/* You can add global styles to this file, and also import other style files */
html {
	min-height: 100vh;
	overflow: hidden;
}

body {
	// background: linear-gradient(180deg, #02040a, #050b18);
	min-height: 79vh;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	// background-image: url("/background.png");
	background: #fff;
}

.center {
	justify-content: center;
}

.middle {
	align-items: center;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #00eaff #05080f; /* thumb, track */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #05080f;
}

*::-webkit-scrollbar-thumb {
	background: #00eaff;
	border-radius: 10px;
	box-shadow: 0 0 5px #00eaff, 0 0 10px #00b3ff;
}

*::-webkit-scrollbar-thumb:hover {
	background: #00ffff;
	box-shadow: 0 0 10px #00eaff, 0 0 20px #00b3ff;
}
