.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
}

* {
	box-sizing: border-box;
}

.game-list {
	width: 100%;
	max-width: 63.5rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
	overflow: auto;
	padding: 1rem;
	box-sizing: border-box;
}

.game-item {
	height: 15rem;
	border-radius: 1rem;
	box-shadow: 0px 0px 14px -3px #d0d0d0;
	position: relative;
	visibility: visible;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.03);
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s ease;
	gap: 1rem;
	border-radius: 0.625rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.game-item:hover .overlay {
	opacity: 1;
}

.game-item:hover .game-content {
	visibility: hidden;
}
