.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
}

* {
	box-sizing: border-box;
}

.game-list {
	width: 100%;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
	overflow: auto;
	padding: 1rem;
	box-sizing: border-box;
}

.game-item {
	height: 15rem;
	border-radius: 1rem;
	box-shadow: 0px 0px 14px -3px #d0d0d0;
	position: relative;
	visibility: visible;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.03);
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.game-content {
	width: 100%;
	height: 100%;
	border-radius: 0.625rem;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease;
	gap: 1rem;
	border-radius: 0.625rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.game-item:hover .overlay {
	opacity: 1;
}

.game-item:hover .game-content {
	visibility: hidden;
	display: none;
}

.overlay::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 1rem;
}

.button {
	position: relative;
	z-index: 1;
	background-color: #ffffff;
}

.button span {
	font-weight: 600;
	color: #474747;
}

.content {
	width: 100%;
	max-width: 63.5rem;
	height: 75%;
	overflow: auto;
}

.logo-txt {
	padding-left: 7px;
	display: flex;
	flex-direction: column;
	color: #232323;
	align-items: flex-start;
}

.logo-txt h1 {
	font-weight: bolder;
	font-size: 0.85rem;
	margin: 0;
}

.logo-txt span {
	font-weight: lighter;
	font-size: 0.75rem;
}

.toolbar {
	width: fit-content;
	text-decoration: none;
	padding: 0.5rem;
}
